<div class="modal fade" id="notificationModal" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="notificationModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" [ngClass]="{'bg-success': isSuccess, 'bg-danger': !isSuccess}">
        <h5 id="notificationModalLabel" class="modal-title">{{ title }}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">OK</button>
      </div>
    </div>
  </div>
</div>